
/*** Reset CSS *********************************/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/******* End reset CSS ************************/


/******* General styling *********************/

body {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #fffef8;
}

#layer {
	display: none;
    position: fixed;
    width: 100%;
    height: 100%;
  	background: #0000004D;
}

#modal {
	display: flex;
	display: none;
	flex-flow: column;
	align-items: center;
	width: 630px;
	height: 688px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background: #ffffff;
}

#modal .fa-arrow-left {
	display: none;
	position: absolute;
    top: 32px;
    left: 35px;
    cursor: pointer;
    font-size: 24px;
}

#modal .close-button {
	position: absolute;
    top: 25px;
    right: 35px;
    cursor: pointer;
    font-size: 30px;
}

#modal h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #000000;
	padding: 50px;
}

#modal-gallery {
	display: none;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	gap: 10px;
	position: static;
	height: 65%;
	width: 70%;
	border-bottom: 1px solid #B3B3B3;
	overflow-y: auto;
}

#modal-gallery figure {
	position: relative;
}

#modal-gallery img {
	width: 100%;
}

#modal-gallery figure i {
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 3px;
	color: #ffffff;
	background: #000000;
	font-size: 10px;
	padding: 4px;
	cursor: pointer;
}

#modal-upload-form {
	display: none;
	flex-flow: column;
	justify-content: space-around;
	gap: 20px;
	position: static;
	height: 65%;
	width: 65%;
	margin-inline: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #B3B3B3;
}

#title, #categories-dropdown {
	padding: 20px;
	border: none;
	background: #ffffff;
	box-shadow: 0px 4px 14px 0px #00000017;
}

#modal-upload-form input:nth-child(1) {
	background: #E8F1F6 ;
}

.photo-upload-container {
    position: relative;
	text-decoration: none;
	border: none;
	background: #E8F1F6;
    display: flex;
	flex-flow: column;
    justify-content: center;
    align-items: center; 
    width: 100%; 
	height: 100%; 
	font-size: 16px;
}

.photo-upload-container input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 0;
	cursor: pointer;
	padding: 0;
}

.photo-upload-container i {
	font-size: 75px;
	color: #B9C5CC;
}

.photo-upload-container label {
	color: #306685;
	background: #CBD6DC;
	padding: 10px;
	margin: 10px;
	border-radius: 50px;
}

.photo-upload-container p {
	font-size: 10px;
}

.photo-upload-container img {
	position: absolute;
	height: 100%;
	z-index: 2;
}

.photo-upload-container:hover {
	border: 3px solid #00000020;
}

#modal .btn {
	min-width: 45%;
	border: none;
}

#modal .btn--greyed-out {
	background: #A7A7A7;
	cursor: default;
}

main {
	max-width: 1140px;
	min-width: 50%;
	display: flex;
	flex-flow: column;
	align-self: center;
}

.editing-mode-banner {
	display: none;
	justify-content: center;
	align-items: center;
	height: 59px;
	font-size: 18px;
	background: #000000;
	color: #ffffff;
	gap: 15px;
}

header {
	display: flex;
	justify-content: space-around;
	margin: 50px 0
}

a {
	all: unset;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	padding: 0 20px 0 0 ;
	text-align: center;
}

.projets-heading {
	display: flex;
	justify-content: center;
}

.edit-button {
	display: none;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
	gap: 5px;
}

.edit-button span:hover {
	color: #B1663C;
}

#filters {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 50px;
	gap: 10px;
}

.btn {
	color: #1D6154;
	background-color: #FFFFFF;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	min-width: 100px;
	padding: 9px 15px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
}

#filters .btn:hover {
	background: #1D6154;
	color: #FFFFFF;
}

#main-gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#main-gallery img {
	width: 100%;
}

#contact, #login{
	width: 50%;
	margin: auto;
}

#contact > *, #login > * {
	text-align: center;
}

#contact h2, #login h2{
	margin-bottom: 20px;
}

#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login label {
	margin: 2em 0 1em 0;
}

#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login span {
	text-decoration: underline;
	text-align: center;
	font-size: 1.2em;
}

#login a:hover {
	cursor: pointer;
	color: #B1663C;
}

#login .error-message {
	color: red;
	font-size: 20px;
	text-decoration: none;
	padding-bottom: 20px;
}

input[type="submit"], input[type="button"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	min-width: 45%;
}



footer {
	display: flex;
	justify-content: flex-end;
	background: #ffffff;
	height: 60px;
}

footer nav {
	padding: 0 100px;
	display: flex;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-self: center;
	margin: 2em;
}

@keyframes jiggle {
	0% { transform: translateX(-5px); }
	25% { transform: translateX(5px); }
	50% { transform: translateX(-5px); }
	75% { transform: translateX(5px); }
	100% { transform: translateX(0); }
  }
